.card-container{
    background: rgb(34, 34, 43) !important;
    color: wheat;
}

.match-container{
    background: rgb(42, 42, 70) !important;
    color: wheat;
}

.date-container{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}